@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            ALO 120 StoreApp Bilgi ve Destek Hattı
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
           Kemalpaşa Mah.  Küçükçekmece / İstanbul Posta Kodu : 34000
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
           destek@storeapp.com
        </p>
    </div>
</div>